@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.grid-main2 {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

@media (max-width: 767px) {
  .grid-main2 {
    display: grid;
    grid-template-columns: auto;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px;
}
